body {
    background-color: #23379e;
    background-image: linear-gradient(90deg, #23379e 0%, #902b88 17%, #f7b2ef 39%);
    

header{
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    font-size: 40px;
    color: aliceblue;
    gap: 20px;
    text-transform: ;
}